.root {
    align-items: center;
    display: grid;
    /* The full height of the site header minus (box shadow height * 2). */
    height: 1rem;
}

.root_open {
    composes: root;
}

.trigger {
    composes: root from '@magento/venia-ui/lib/components/clickable.module.css';
    height: 2.6rem;
    min-width: 1rem;
    z-index: 1;
    margin-left: 15px;
}

@media (max-width: 640px) {
    .root {
        display: none;
    }
}
